<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Youtube Video Downloader</title>
</head>
<body>
    <form action = "/" method = "post">
        <h1> YOUTUBE VIDEO DOWNLOADER</h1>
        <label for="video_url">Enter Youtube Video URL</label>
        <input type = "text" id = "video_url" name = "video_url" placeholder = "Enter Youtube Video URL" required>
        <button type="submit">Download</button>
    </form>
</body>
</html>